.game-chat {
    position: absolute;
    right: 1vw;
    top: 18vw;
    height: 20vw;
    width: 14vw;
    align-items: end;
    justify-content: end;
    box-shadow: 0 .5vw .5vw black;
    border-radius: .3vw;
    z-index: -1;
}

.chat-messages {
    position: fixed;
    max-height: 20vw;
    overflow: scroll;
}

.chat-message {
    margin-top: 1vw;
    position: relative;
    height: 3vw;
    width: 14vw;
    background-image: url("/src/assets/banner.png");
    background-size: 14vw 3vw;
    backface-visibility: hidden;-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: CustomFont, system-ui;
    display: flex;
    align-items: center;
    box-shadow: 0 .5vw .5vw black ;
    border-radius: .3vw;
}

.chat-message-text {
    position: relative;
    color: #222;
    font-size: 1vw;
    left: 1vw;
}
.chat-message-name {
    position: absolute;
    top: -.75vw;
    height: 1.5vw;
    width: 7vw;
    background-image: url("/src/assets/banner.png");
    background-size: 7vw 1.5vw;
}
.chat-message-name div {
    position: relative;
    color: #222;
    font-size: .9vw;
    font-weight: bold;
    left: .5vw;
    top: .2vw;
}
.chat-message-team {
    position: absolute;
    top: -.95vw;
    right: .75vw;
    height: 2vw;
    width: 2vw;
    background-image: url("/src/assets/back-white.png");
    background-size: 7vw 4vw;
    background-position: -2.5vw -.7vw;
}
.chat-message-role {
    position: absolute;
    top: -.65vw;
    right: 1.1vw;
    height: 1.3vw;
    width: 1.3vw;
    background-size: 1.3vw 1.3vw;
}

.input-container input {
    border:none;
    background: transparent;
    padding: 0;
    outline: 0;
    font-family: CustomFont, system-ui;
    font-size: 1.5vw;
    position: relative;
    left: .8vw;
    width: 12vw;
    overflow-x: scroll;
}
.input-container {
    position: absolute;
    bottom: -4vw;
    z-index: 1;
    height: 3vw;
    width: 14vw;
    background-image: url("/src/assets/banner.png");
    background-size: 14vw 3vw;
    display: flex;
    box-shadow: 0 .5vw .5vw black ;
    border-radius: .3vw;
}
.chat-message-send {
    background-image: url("/src/assets/send.png");
    background-size: 1.5vw 1vw;
    width: 1.5vw;
    height: 1vw;
    position: absolute;
    right: 1.1vw;
    top: -1vw;
    box-shadow: 0 -.1vw .2vw black ;
    border-radius: .3vw .3vw 0 0;
    cursor: pointer;
}
