.game-chat {
    position: absolute;
    right: 1vw;
    top: 18vw;
    height: 20vw;
    width: 14vw;
    align-items: end;
    justify-content: end;
    box-shadow: 0 .5vw .5vw black;
    border-radius: .3vw;
    z-index: -1;
    background-image: url("/src/assets/player-row.png");
}

.chat-messages {
    max-height: 20vw;
    overflow: scroll;
}

.chat-message {
    height: 1.2vw;
    width: 14vw;
    background-size: 14vw 3vw;
    backface-visibility: hidden;-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: "Rockwell";
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 1vw;
    border-radius: .3vw;
}

.chat-message-text {
    color: #222;
}
.chat-message-name {
    margin-left: .1vw;
    color: #222;
    font-weight: bold;
}

.chat-message-team {
    left: .5vw;
    height: 1vw;
    width: 1vw;
    background-image: url("/src/assets/back-white.png");
    background-size: 3.5vw 2vw;
    background-position: -1.3vw -.3vw;
    margin-left: .5vw;
}

.input-container input {
    border:none;
    background: transparent;
    padding: 0;
    outline: 0;
    font-family: CustomFont, system-ui;
    font-size: 1.5vw;
    position: relative;
    left: .8vw;
    width: 12vw;
    overflow-x: scroll;
}
.input-container {
    position: absolute;
    bottom: -4vw;
    z-index: 1;
    height: 3vw;
    width: 14vw;
    background-image: url("/src/assets/banner.png");
    background-size: 14vw 3vw;
    display: flex;
    box-shadow: 0 .5vw .5vw black ;
    border-radius: .3vw;
}
.chat-message-send {
    background-image: url("/src/assets/send.png");
    background-size: 1.5vw 1vw;
    width: 1.5vw;
    height: 1vw;
    position: absolute;
    right: 1.1vw;
    top: -1vw;
    box-shadow: 0 -.1vw .2vw black ;
    border-radius: .3vw .3vw 0 0;
    cursor: pointer;
}
