.game-button {
    backface-visibility: hidden;-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    position: absolute;
    top: 10vw;
    right: 1vw;
    height: 3vw;
    width: 14vw;
    background-image: url("/src/assets/banner.png");
    background-size: 14vw 3vw;
    font-family: CustomFont, system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5vw .5vw black ;
    border-radius: .3vw;
}

.game-button div {
    color: #222;
    position: relative;
    font-size: 2vw;
    font-weight: bold;
}