.game-chat {
    position: fixed;
    right: 1vw;
    height: 3vw;
    width: 14vw;
    background-image: url("/src/assets/banner.png");
    background-size: 14vw 3vw;
    align-items: end;
    justify-content: end;
    box-shadow: 0 .5vw .5vw black;
    border-radius: .3vw;
}

.game-chat div {
    color: white;
    position: relative;
    font-size: 2vw;
    font-weight: bold;
}



.input-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.input-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 60px;
}

.chat-messages li {
    list-style-type: none;
    margin-bottom: 10px;
}
