.player-info {
    position: absolute;
    top: 1vw;
    right: 1vw;
    justify-content: normal;
    font-family: CustomFont, system-ui;
}

.player-info-front {
    padding-left: 1vw;
    justify-content: normal;
    width: 9vw;
    height: 3vw;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.player-info-front:hover {
    overflow-x: auto;
}
.player-role {
    position: absolute;
    top: .7vw;
    right: .7vw;
    cursor: pointer;
    width: 3.3vw;
    height: 3.3vw;
}