.table {
    background-image: url("/src/assets/table.png");
    background-size: 100vw 70vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 48vw;
    z-index: -1;
}