@font-face {
    font-family: CustomFont;
    src: url(/src/assets/OldeEnglish.ttf);
}

.none {
    font-family: CustomFont, system-ui;
    font-weight: 400;
    font-style: normal;
}
div {
    color: white;
}
body {
    background-color: black;
    margin: 0;
}