@font-face {
    font-family: CustomFont;
    src: url(/src/assets/OldeEnglish.ttf);
}

div {
    color: white;
}
body {
    background-color: black;
    margin: 0;
}
* {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}